.header{
	padding:20px;
   background-color:black;
   color: #ffff;
   text-align: center;
   font-size: 25px;
   cursor: pointer;

}

.text{
   	padding:30px;
    background-color:green;
   color: #ffff;
   text-align: center;
   font-size: 16px;
   display: none;

}